<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
  </head>
  <body>
    <header>
      <div class="secundary-header"><span>20% de descuento en todos los productos!</span></div>
      <div class="main-header">
        <img src="../img/logo 1.png" alt="logo empresa">
        <h1>nombre tienda</h1>
      </div>
    </header>
    <main>
      <!--LOGIN-->
      <div class="login-view  form-view">
        <h2>Login</h2>
        <section class="form-container">
          <form action="../index.html" method="GET">
            <input type="text" placeholder="Usuario" name="username" aria-label="username">
            <input type="password" placeholder="Contraseña" name="password" aria-label="password">
            <input type="submit" value="Entrar" aria-label="send">
          </form>
          <span><a href="registro.html">¿No tienes cuenta?</a> Registrarme</a></span>
        </section>
      </div>
    </main>
    <footer>
      <span>Todos los derechos reservados a FRONT END 1</span>
    </footer>
  </body>
</html>
