/*VARIABLES*/
$primary-color:  #E5E5E5;
$secundary-color: #005677;
$primary-font : 'Times New Roman', Times, serif;



body {
    font-family: $primary-font;
    margin: 0;
    width: 100vw;
  }
  
  h1 {
    text-align: center;
  }
  
  h1,
  h2 {
    background-color: $primary-color;
    text-transform: uppercase;
    color: $secundary-color;
    padding-right: 3%;
  }
  
  header {
    background-color: $primary-color;
    img {
        display: block;
        margin: auto;
      }
  }
  
  main {
    margin: 2% 15% 5% 15%;
  }
  
  section {
    padding-bottom: 1.5%;
  }
  
  span {
    font-style: italic;
    font-weight: bold;
  }
  .especificacion{
    list-style-type: none;
    margin-left: 9%;
  }
  footer {
    display: flex;
    color: white;
    background-color: $secundary-color;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    p {
      margin-right: 20px;
    }
  }
  