<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" href="../img/cv.png">
  <title>+ Sobre mi</title>
</head>

<body>
  <header class="sec-header">
    <h1>Sobre mi</h1>
  </header>
  <hr>
  <main class="segunda-seccion">
    <h2>Pasatiempos</h2>
    <div class="img-pasatiempos">
      <article>
        <img
          src="../img/la-chica-contínua-dibujante-de-una-línea-escucha-música-se-ve-bien-y-feliz-sola-disfrutada-belleza-sentimientos-símbolo-156514235.jpg"
          alt="pintar" width="200px">
        <h5>Escuchar musica</h5>
      </article>
      <article>
        <img
          src="../img/a-man-painting-an-artwork-on-canvas-painter-artist-continuous-single-line-art-of-painter-vector.jpg"
          alt="pintar" width="200px">
        <h5>Pintar</h5>
      </article>
      <article>
        <img src="../img/images.png" alt="pintar" width="200px">
        <h5>Caminar</h5>
      </article>
    </div>
    </section>
    <div class="enlace enlace-pag-principal">
      <a href="../index.html"><span>Home</span></a>
    </div>
  </main>
  <footer>
    <span class="iconos"><a href="https://github.com/la-rojas13/FrontEnd-I" target="_blank">
        <i class="fab fa-github-square"></i></a></span>
    <span class="iconos"><a href="#"><i class="fab fa-linkedin"></i></a></span>
    <span class="iconos"><a href="#"><i class="fab fa-instagram-square"></i></a></span>
  </footer>
</body>

</html>