@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville:ital@1&display=swap');

:root {
  --font-title: 'Bebas Neue', cursive;
  --font-subtitle: 'Libre Baskerville', serif;
  --font-body: 'Lato', sans-serif;
  --primary-color: #e8b46c;
  --secundary-color: #e29528;
}

body {
  background-color: #fdfff0;
  margin: 0;
  padding: 0;
}

/****** PAG PRINCIPAL *********/
header {
  align-items: center;
  background-image: url("../img/wiggle.svg");
  color: black;
  display: flex;
  font-family: var(--font-title);
  height: 35vh;
}

.header-img {
  border-radius: 50%;
  border: 5px solid white;
  filter: grayscale(100%);
  height: 180px;
  margin-left: 25%;
  margin-right: 2%;
  margin-top: 1%;
  width: 180px;
}

.header-title {
  margin-left: 3%;
}

.header-title h1 {
  letter-spacing: 4px;
}

.header-title h3 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 300;
  letter-spacing: 3px;
  color: black;
}

.enlace {
  background-color: var(--primary-color);
  border-radius: 5%;
  font-family: var(--font-title);
  font-size: 15px;
  height: 40px;
  letter-spacing: 2px;
  text-align: center;
  width: 35%;
}

.enlace-redireccion a {
  color: black;
  line-height: 40px;
  margin: auto;
  text-decoration: none;
}

.enlace:hover {
  background-color: #e29528;
  font-size: 17px;
}

/*GENERAL*/
aside {
  color: black;
  float: right;
  height: 100vh;
  top: -5%;
  width: 25%;
  z-index: -10;
}

aside .perfil {
  text-align: justify;
}

.perfil {
  font-family: var(--font-body);
  font-size: 18px;
  margin: 25% 10% 2% 10%;
}

.perfil h3 {
  font-family: var(--font-title);
  letter-spacing: 2px;
}

.academico {
  background-color: rgba(104, 104, 104, 0.06);
  float: left;
  margin: 2%;
  width: 70vw;
  height: 84vh;
}

.academico h3 {
  margin: 5%;
}

article {
  margin: 0 8% ;
}

hr {
  width: 80%;
}

hr.linea-vertical {
  float: right;
  height: 87vh;
  width: 2px;
  margin-right: -1%;
}

article h6,
h4 {
  margin-bottom: -2%;
  font-family: var(--font-title);
  letter-spacing: 2px;
}

article p {
  text-align: justify;
}

.contacto li {
  list-style-type: none;
}

a.digital-anchor {
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 2px;
  cursor: pointer;
}

a.digital-anchor:hover {
  color: #fb6f4c;
}

/*FOOTER*/
footer {
  background-color: black;
  bottom: 0;
  position: fixed;
  width: 100vw;
  height: 8vh;
  color: white;
  font-family: var(--font-body);
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconos {
  color: white;
  cursor: pointer;
  font-size: 30px;
  padding-right: 1%;
  padding-left: 0.5%;
}

.iconos a {
  color: inherit;
  transition: transform 0.3s ease-out;
  display: inline-block;
}

.iconos a:hover {
  color: var(--primary-color);
  transform: translate(0, -5px);
}

.iconos a:active {
  color: var(--secundary-color);
}

/****** SECOND PAGE *********/

/*HEADER*/

header.sec-header {
     height: 20vh;
     justify-content: center;
     align-items: center;
}

header.sec-banner h1{
  margin: auto;
  letter-spacing: 20px;
  font-size: 50px;
}

main.segunda-seccion {
  text-align: center;
  font-family: var(--font-title);
  margin: 0 7%;
}

.segunda-seccion>article {
  margin: 0 8%;
  width: 300px;
}

.segunda-seccion h2 {
  letter-spacing: 10px;
}

/*SOBRE MI*/
.pasatiempos {
  height: 50vh;
}

.sec-section {
  float: left;
}

.img-pasatiempos {
  display: flex;
}

.img-pasatiempos img {
  width: 200px;
  height: 150px;
}

.enlace-pag-principal {
  margin: auto;
  margin-top: 5%;
  background-color: #e8b46e;
  width: 150px;
}

.enlace-pag-principal a {
  color: black;
  text-decoration: none;
  font-size: 25px;
}

h5 {
  letter-spacing: 5px;
  font-size: 20px;
}